@import url("Global.css");

.hero {
    color: var(--main);
    padding: 150px 0 80px;
    text-align: center;
    width: 100%;
}


.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero span {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--text);
}

.hero p {
    max-width: 700px;
    margin: 0 auto 2rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.hero-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-buttons a {
    padding: 15px 30px;
    background-color: var(--section);
    color: var(--main);
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.4s ease;
}

.hero-buttons a:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    background-color: var(--main);
    color: var(--white)
}

.hero img {
    width: 100%;
    display: block;
    margin-top: 2rem;
}